:root {
  --color-bg: #0c0c0c; /* Primär bakgrund */
  --color-surface: #1f252a; /* Sekundär (paneler/kort) */
  --color-accent1: #66fcf1; /* Highlight/knappar */
  --color-accent2: #45a29e; /* Call to action */
  --color-text: #c5c6c7; /* Brödtext */
  --color-heading: #ffffff; /* Rubriker */
}

*{
    box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100vw;
    padding: 10px;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin: 0;
}

.full-section{
    min-height: 100vh;
}
.half-section{
    min-height: 50vh;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction h1{
    font-size: 4rem;
}

.introduction p {
    font-size: 1.5rem;
    font-style: italic;
}

.employees{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.employee{
    height: 300px;
    width: 200px;
    border: 1px solid white;
}

.contact{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface);
}

header {
    padding: 1em;
    text-align: right;
}

#menu {
    display: none;
    list-style-type: none;
}

#menu-toggle:checked ~ #menu {
    display: block;
}

#menu-toggle {
    display: none;
}

a {
    color: #c5c6c7;
}

#menu li a {
  display: inline-block;
  transition: transform 0.2s ease;
}

#menu li a:hover {
  transform: scale(1.2);
}

.employee img {
    height: 100%;
}